// ------------------------------------------------ //
// MAIN NAV BAR //
// ------------------------------------------------ //
.brand-logo {
    font-size: 110% !important;
    margin-right: 20px;
}

.btn-main-nav {
    width: 175px;
    text-align: center;

    a {
        font-size: 100%;
        text-transform: uppercase;
    }
}

// ------------------------------------------------ //
// SUB NAV BAR //
// ------------------------------------------------ //
