// ------------------------------------------------ //
// SETTINGS //
// ------------------------------------------------ //
$nav-height: 64px;
$sub-nav-height: 48px;
body {
    background-color: #f5f5f5;
}

// ------------------------------------------------ //
// COLORS //
// ------------------------------------------------ //
$main-darken-2: #1976d2;
$main: #2196f3;
$main-lighten-3: #90caf9;
$main-lighten-5: #e3f2fd;

// ------------------------------------------------ //
// MAIN NAV BAR //
// ------------------------------------------------ //
nav {
    height: $nav-height;
}

.brand-logo {
    font-size: 110% !important;
    margin-right: 20px;
}

.btn-main-nav {
    width: 175px;
    text-align: center;

    a {
        font-size: 100%;
        text-transform: uppercase;
    }
}

.icon {
    font-size: 200%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

// ------------------------------------------------ //
// MOBILE NAV BAR //
// ------------------------------------------------ //
.btn-mobile-nav {
    $button-height: 70px;

    height: $button-height;
    cursor: pointer;

    a {
        height: $button-height !important;
        padding-top: 10px !important;
        text-transform: uppercase;
        color: #fff !important; /*Text color*/

        &:hover {
            background-color: $main !important; /*Text color on hover*/
        }
    }

    &:hover {
        background-color: $main !important; /*Text color on hover*/
    }

    &:focus.active,
    &.active {
        background-color: $main !important;
    }
}

// ------------------------------------------------ //
// CONTENT CONTAINER //
// ------------------------------------------------ //
.tabs {
    height: $sub-nav-height;
}

.tabs .tab {
    a {
        color: $main-lighten-3; /*Text color*/

        &:hover {
            background-color:$main-lighten-5; /*Text color on hover*/
            color: $main; /*Text color on hover*/
        }
        
        &:focus {
            background-color:#fff;
        }

        &:focus.active,
        &.active    {
            background-color:$main-lighten-5; /*Background and text color when a tab is active*/
            color: $main; /*Background and text color when a tab is active*/
        } 
    }
}   

.tabs .indicator {
    background-color: $main;
} /*Color of underline*/

@keyframes fadeIn {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn 0.6s forwards;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fade-out {
    animation: fadeOut 0.6s forwards;
}

// ------------------------------------------------ //
// ABOUT-PAGE //
// ------------------------------------------------ //

.about-page-content {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    min-height: calc(100vh - #{$nav-height} - 100px);
    margin: 50px;
}

// ------------------------------------------------ //
// TABBED-PAGES //
// ------------------------------------------------ //
.row {
    margin-bottom: 0 !important;
}

.tabs-content,
.carousel,
.carousel-slider {
    min-height: calc(100vh - #{$nav-height} - #{$sub-nav-height}) !important;
    overflow-y: visible !important;
}

.page {
    margin: #{$sub-nav-height} !important;
    min-height: calc(100% - 100px);
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
